<p id="notice"><%= notice %></p>

<p>
  <strong>Fellowship is warm and personal:</strong>
  <%= @individual.fellowship_is_warm_and_personal %>
</p>

<p>
  <strong>Worship is alive and compelling:</strong>
  <%= @individual.worship_is_alive_and_compelling %>
</p>

<p>
  <strong>Is very dedicated to christ:</strong>
  <%= @individual.is_very_dedicated_to_Christ %>
</p>

<p>
  <strong>Is knowledgeable about the bible:</strong>
  <%= @individual.is_knowledgeable_about_the_Bible %>
</p>

<p>
  <strong>Has an effective and innovative education program :</strong>
  <%= @individual.has_an_effective_and_innovative_education_program_ %>
</p>

<p>
  <strong>Has forthright and clear evangelism:</strong>
  <%= @individual.has_forthright_and_clear_evangelism %>
</p>

<p>
  <strong>Stewardship is generous and self sacrificing:</strong>
  <%= @individual.stewardship_is_generous_and_self_sacrificing %>
</p>

<p>
  <strong>Community service is active and concerned:</strong>
  <%= @individual.community_service_is_active_and_concerned %>
</p>

<p>
  <strong>Is invested in our youth:</strong>
  <%= @individual.is_invested_in_our_youth %>
</p>

<p>
  <strong>Is cooperative and trusting:</strong>
  <%= @individual.is_cooperative_and_trusting %>
</p>

<p>
  <strong>Internal communication is open and clear:</strong>
  <%= @individual.internal_communication_is_open_and_clear %>
</p>

<p>
  <strong>Has well focused clear goals:</strong>
  <%= @individual.has_well_focused_clear_goals %>
</p>

<p>
  <strong>Describe the strengths:</strong>
  <%= @individual.describe_the_strengths %>
</p>

<p>
  <strong>What attracts you:</strong>
  <%= @individual.what_attracts_you %>
</p>

<p>
  <strong>Most important thing new minister brings:</strong>
  <%= @individual.most_important_thing_new_minister_brings %>
</p>

<p>
  <strong>Most important need:</strong>
  <%= @individual.most_important_need %>
</p>

<p>
  <strong>Calling our church to do:</strong>
  <%= @individual.calling_our_church_to_do %>
</p>

<p>
  <strong>Style and content of preaching:</strong>
  <%= @individual.style_and_content_of_preaching %>
</p>

<p>
  <strong>Distinctive attributes about westbrook:</strong>
  <%= @individual.distinctive_attributes_about_westbrook %>
</p>

<p>
  <strong>Major trends in westbrook:</strong>
  <%= @individual.major_trends_in_westbrook %>
</p>

<p>
  <strong>Problem areas confronting westbrook:</strong>
  <%= @individual.problem_areas_confronting_westbrook %>
</p>

<p>
  <strong>Major trends in church:</strong>
  <%= @individual.major_trends_in_church %>
</p>

<p>
  <strong>Important faith experiences:</strong>
  <%= @individual.important_faith_experiences %>
</p>

<p>
  <strong>Most challenging faith experience:</strong>
  <%= @individual.most_challenging_faith_experience %>
</p>

<p>
  <strong>Effective preacher speaker:</strong>
  <%= @individual.effective_preacher_speaker %>
</p>

<p>
  <strong>Continues to develop:</strong>
  <%= @individual.continues_to_develop %>
</p>

<p>
  <strong>Helps people develop:</strong>
  <%= @individual.helps_people_develop %>
</p>

<p>
  <strong>Helps people work together:</strong>
  <%= @individual.helps_people_work_together %>
</p>

<p>
  <strong>Effective planning leading worship:</strong>
  <%= @individual.effective_planning_leading_worship %>
</p>

<p>
  <strong>Sense of the direction:</strong>
  <%= @individual.sense_of_the_direction %>
</p>

<p>
  <strong>Participate in ucc activities:</strong>
  <%= @individual.participate_in_ucc_activities %>
</p>

<p>
  <strong>Helps people understand social justice:</strong>
  <%= @individual.helps_people_understand_social_justice %>
</p>

<p>
  <strong>Is a helpful counselor:</strong>
  <%= @individual.is_a_helpful_counselor %>
</p>

<p>
  <strong>Ministers in crisis situations:</strong>
  <%= @individual.ministers_in_crisis_situations %>
</p>

<p>
  <strong>Pastoral calls to home bound:</strong>
  <%= @individual.pastoral_calls_to_home_bound %>
</p>

<p>
  <strong>Pastoral calls not home bound:</strong>
  <%= @individual.pastoral_calls_not_home_bound %>
</p>

<p>
  <strong>Good leader:</strong>
  <%= @individual.good_leader %>
</p>

<p>
  <strong>Effective working with children:</strong>
  <%= @individual.effective_working_with_children %>
</p>

<p>
  <strong>Builds fellowship at works:</strong>
  <%= @individual.builds_fellowship_at_works %>
</p>

<p>
  <strong>Helps people develop leadership:</strong>
  <%= @individual.helps_people_develop_leadership %>
</p>

<p>
  <strong>Effective administrator:</strong>
  <%= @individual.effective_administrator %>
</p>

<p>
  <strong>Effective with committees and officers:</strong>
  <%= @individual.effective_with_committees_and_officers %>
</p>

<p>
  <strong>Effective teacher:</strong>
  <%= @individual.effective_teacher %>
</p>

<p>
  <strong>Strong commitment to the education:</strong>
  <%= @individual.strong_commitment_to_the_education %>
</p>

<p>
  <strong>Effective working with adults:</strong>
  <%= @individual.effective_working_with_adults %>
</p>

<p>
  <strong>Inspires a sense of confidence:</strong>
  <%= @individual.inspires_a_sense_of_confidence %>
</p>

<p>
  <strong>Works regularly at bringing new members:</strong>
  <%= @individual.works_regularly_at_bringing_new_members %>
</p>

<p>
  <strong>Encourages support of wider mission:</strong>
  <%= @individual.encourages_support_of_wider_mission %>
</p>

<p>
  <strong>Reaches out to inactive members:</strong>
  <%= @individual.reaches_out_to_inactive_members %>
</p>

<p>
  <strong>Works in the development of stewardship:</strong>
  <%= @individual.works_in_the_development_of_stewardship %>
</p>

<p>
  <strong>Active in ecumenical relationships:</strong>
  <%= @individual.active_in_ecumenical_relationships %>
</p>

<p>
  <strong>A person of faith:</strong>
  <%= @individual.a_person_of_faith %>
</p>

<p>
  <strong>Writes clearly and well:</strong>
  <%= @individual.writes_clearly_and_well %>
</p>

<p>
  <strong>Works well on a team:</strong>
  <%= @individual.works_well_on_a_team %>
</p>

<p>
  <strong>Is effective in working with youth:</strong>
  <%= @individual.is_effective_in_working_with_youth %>
</p>

<p>
  <strong>Organizes people for community action :</strong>
  <%= @individual.organizes_people_for_community_action_ %>
</p>

<p>
  <strong>Is skilled in planning and leading programs:</strong>
  <%= @individual.is_skilled_in_planning_and_leading_programs %>
</p>

<p>
  <strong>Plans and leads well organized meetings:</strong>
  <%= @individual.plans_and_leads_well_organized_meetings %>
</p>

<p>
  <strong>Encourages to relate faith to daily lives:</strong>
  <%= @individual.encourages_to_relate_faith_to_daily_lives %>
</p>

<p>
  <strong>Is accepting of people with divergent views:</strong>
  <%= @individual.is_accepting_of_people_with_divergent_views %>
</p>

<p>
  <strong>Encourages others:</strong>
  <%= @individual.encourages_others %>
</p>

<p>
  <strong>Mature and emotionally secure:</strong>
  <%= @individual.mature_and_emotionally_secure %>
</p>

<p>
  <strong>Has strong commitment and loyalty :</strong>
  <%= @individual.has_strong_commitment_and_loyalty_ %>
</p>

<p>
  <strong>Maintains confidentially:</strong>
  <%= @individual.maintains_confidentially %>
</p>

<p>
  <strong>Understands from a global perspective :</strong>
  <%= @individual.understands_from_a_global_perspective_ %>
</p>

<p>
  <strong>Compassionate and caring person :</strong>
  <%= @individual.compassionate_and_caring_person_ %>
</p>

<p>
  <strong>Deals effectively with conflict:</strong>
  <%= @individual.deals_effectively_with_conflict %>
</p>

<p>
  <strong>Quality other 44:</strong>
  <%= @individual.quality_other_44 %>
</p>

<p>
  <strong>Quality other 44:</strong>
  <%= @individual.quality_other_44 %>
</p>

<p>
  <strong>Your name:</strong>
  <%= @individual.your_name %>
</p>

<p>
  <strong>May we contact:</strong>
  <%= @individual.may_we_contact %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @individual.phone_number %>
</p>

<p>
  <strong>Other comments:</strong>
  <%= @individual.other_comments %>
</p>

<%= link_to 'Edit', edit_individual_path(@individual) %> |
<%= link_to 'Back', individuals_path %>
