<p id="notice"><%= notice %></p>

<p>
  <strong>Age 0 5:</strong>
  <%= @household.age_0_5 %>
</p>

<p>
  <strong>Age 6 18:</strong>
  <%= @household.age_6_18 %>
</p>

<p>
  <strong>Age 19 34:</strong>
  <%= @household.age_19_34 %>
</p>

<p>
  <strong>Age 35 49:</strong>
  <%= @household.age_35_49 %>
</p>

<p>
  <strong>Age 50 64:</strong>
  <%= @household.age_50_64 %>
</p>

<p>
  <strong>Age 65 74:</strong>
  <%= @household.age_65_74 %>
</p>

<p>
  <strong>Age 75 plus:</strong>
  <%= @household.age_75_plus %>
</p>

<p>
  <strong>Did not complete high school:</strong>
  <%= @household.did_not_complete_high_school %>
</p>

<p>
  <strong>High school graduate:</strong>
  <%= @household.high_school_graduate %>
</p>

<p>
  <strong>Some college:</strong>
  <%= @household.some_college %>
</p>

<p>
  <strong>College graduate:</strong>
  <%= @household.college_graduate %>
</p>

<p>
  <strong>Graduate school:</strong>
  <%= @household.graduate_school %>
</p>

<p>
  <strong>Family unit:</strong>
  <%= @household.family_unit %>
</p>

<p>
  <strong>Occupation business:</strong>
  <%= @household.occupation_business %>
</p>

<p>
  <strong>Occupation clerical:</strong>
  <%= @household.occupation_clerical %>
</p>

<p>
  <strong>Occupation farmer:</strong>
  <%= @household.occupation_farmer %>
</p>

<p>
  <strong>Occupation laborer:</strong>
  <%= @household.occupation_laborer %>
</p>

<p>
  <strong>Occupation professional:</strong>
  <%= @household.occupation_professional %>
</p>

<p>
  <strong>Occupation student:</strong>
  <%= @household.occupation_student %>
</p>

<p>
  <strong>Occupation tradesperson:</strong>
  <%= @household.occupation_tradesperson %>
</p>

<p>
  <strong>Occupation other:</strong>
  <%= @household.occupation_other %>
</p>

<p>
  <strong>Employed:</strong>
  <%= @household.employed %>
</p>

<p>
  <strong>Not employed:</strong>
  <%= @household.not_employed %>
</p>

<p>
  <strong>Retired:</strong>
  <%= @household.retired %>
</p>

<%= link_to 'Edit', edit_household_path(@household) %> |
<%= link_to 'Back', households_path %>
